/* Import the mixins collection file... */
@import mixins

/* Variables... */
// Colors
$dark-green: #009639
$light-green: #97D700
$text-color: #373d3f

// Fonts
$text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

/* Header Styles... */
header 
    position: relative
    background: white
    background-color: white
    border-bottom: 2px solid green
    .grid
        padding: 20px 0 16px
        +media-max(640px)
            padding: 6% 0  2.5%
        .logo-sec
            display: flex
            align-items: center
            img 
                width: 380px
                +media-max(640px)
                    width: 250px
                +media-max(400px)
                    width: 220px
        .menu-sec
            +fullFlex(flex, row,space-between)
            align-items: flex-end
            padding-left: 20px
            +media-max(860px)
                display: none
            a 
                font-size: 20px
                font-family: $text-font 
                text-transform: uppercase
                color: $dark-green
                font-weight: 700
                margin-bottom: 0
                transition: .3s
                &:hover
                    color: $light-green
        // Mobile menu open button...
        .mobile-menu
            display: none
            justify-content: flex-end
            align-items: center
            +media-max(860px)
                display: flex
            a 
                font-size: 32px
                color: $dark-green
                font-weight: 700
                margin-bottom: 0
                .fa 
                    border: 2px solid $dark-green
                    border-radius: 4px
                    padding: 2px 4px 
                    transition: .3s
                    &:hover
                        border-color: $light-green
                &:hover
                    color: $light-green
                +media-max(640px)
                    font-size: 26px
        // Mobile menu...
        .mobile-links
            width: 35%
            height: 100vh
            background: rgba(0, 0, 0, .9)
            +flex(flex,column)
            position: absolute
            right: 0
            top: 0
            text-align: right
            padding-top: 42px
            padding-right: 15px
            padding-left: 15px
            transition: 1s
            +media-max(700px)
                padding-top: 37px
            +media-max(640px)
                width: 250px
                padding-right: 10px
                padding-top: 6%
            +media-max(450px)
                width: 200px
            .close-btn
                font-size: 32px
                font-weight: 700
                margin-bottom: 20px
                .fa 
                    border: 2px solid $light-green
                    border-radius: 4px
                    padding: 2px 4px 
                    transition: .3s
                    color: $light-green
                    &:hover
                        border-color: $dark-green
                        color: $dark-green
                +media-max(640px)
                    font-size: 26px
            .link
                font-size: 20px
                font-weight: 700
                text-transform: uppercase
                text-align: center
                color: $light-green
                padding: 12px 0
                transition: .3s
                +media-max(640px)
                    font-size: 18px
                &:hover
                    color: $dark-green
                    border-bottom: 1px solid $dark-green
        .active
            display: none
/* Main Styles... */
main 
    // Top Section...
    .top
        .grid
            padding: 40px 0 70px
            +fullFlex(flex,row,space-between)
            +media-max(640px)
                padding: 40px 6% 10%
                flex-direction: column-reverse              
            .promise
                align-self: center
                padding: 0 30px
                +media-max(930px)
                    padding: 0 15px
                +media-max(780px)
                    padding: 0
                h3 
                    font-family: $text-font 
                    font-size: 42px
                    font-style: italic
                    font-weight: 600
                    color: $dark-green
                    margin-bottom: 0
                    padding-bottom: 8px
                    +media-max(860px)
                        font-size: 38px
                    +media-max(780px)
                        padding-bottom: 0
                    +media-max(720px)
                        font-size: 32px
                    +media-max(640px)
                        padding-bottom: 8px
                        font-size: 38px
                    +media-max(460px)
                        font-size: 28px
                p 
                    color: $text-color 
                    font-family: $text-font 
                    font-weight: 400 
                    font-size: 20px
                    padding-bottom: 36px
                    margin-bottom: 0
                    +media-max(860px)
                        font-size: 18px
                    +media-max(780px)
                        padding-bottom: 20px
                    +media-max(720px)
                        font-size: 18px
                    +media-max(640px)
                        padding-bottom: 42px
                .enroll 
                    +media-max(640px)
                        text-align: center
                    a
                        background: $dark-green
                        color: white
                        padding: 16px 42px
                        font-family: $text-font 
                        font-size: 18px
                        letter-spacing: 1px
                        font-weight: 700 
                        font-style: italic
                        text-transform: uppercase
                        transition: .3s
                        border-radius: 4px
                        &:hover
                            color: $light-green
                        +media-max(860px)
                            padding: 10px 38px
                        +media-max(720px)
                            padding: 10px 28px
                        +media-max(640px)
                            padding: 16px 38px
            .promise-img 
                text-align: right
                +media-max(720px)
                    align-self: flex-end
                +media-max(640px)
                    padding-bottom: 26px
                img 
                    width: 500px
                    border-radius: 4px
                    +media-max(640px)
                        +center(100%, 0 auto)
    // Slogan Section...
    .slogan 
        background: $dark-green
        .grid
            +center(70%, 0 auto)
            padding: 4% 0
            +media-max(900px)
                width: 80%
            +media-max(768px)
                width: 90%
            +media-max(540px)
                width: 95%
                padding: 8% 0
            p 
                color: white
                margin-bottom: 0
                font-weight: 500
                font-size: 28px
                font-style: italic
                font-family: 'Times New Roman', Times, serif
                +media-max(950px)
                    font-size: 22px
                +media-max(768px)
                    font-size: 20px
                +media-max(540px)
                    font-size: 18px
            #hr 
                border: 1px solid white
                width: 40% 
                margin-bottom: 0
                +media-max(768px)
                    width: 30%
                +media-max(330px)
                    margin-top: 10px
                    width: 20%
    // Bottom Secion...
    .bottom 
        .grid 
            padding: 60px 0
            +flex(flex, row)
            +media-max(1023px)
                +center(65%, 0 auto)
                padding-bottom: 30px
            +media-max(900px)
                width: 75%
            +media-max(768px)
                width: 90%
            +media-max(640px)
                padding: 30px 0
            +media-max(360px)
                padding: 26px 0
            +media-max(460px)
                width: 100%
            .card 
                border-color: $dark-green
                border-radius: 8px
                -moz-box-shadow: 0 8px 6px -6px $text-color
                -webkit-box-shadow: 0 8px 6px -6px $text-color
                box-shadow: 0 8px 6px -6px $text-color
                +media-max(1024px)
                    margin-bottom: 28px
                .title 
                    background: $dark-green 
                    color: white
                    text-align: center
                    padding: 14px 0
                    h3
                        font-family: $text-font 
                        font-weight: 600
                        margin-bottom: 0
                        font-size: 22px
                        +media-max(360px)
                            font-size: 20px
                        +media-max(330px)
                            font-size: 18px
                .info 
                    text-align: center
                    padding-top: 30px
                    // padding-bottom: 40px
                    +flex(flex,column)
                    justify-content: space-between
                    img 
                        +center(85%, 0 auto)
                        height: 200px
                        padding-bottom: 26px
                    h6 
                        font-family: $text-font 
                        font-size: 20px
                        color: $dark-green
                        font-weight: 600
                        text-decoration: underline $dark-green
                        +media-max(360px)
                            font-size: 18px
                    p 
                        +center(85%,0 auto)
                        text-align: left
                        font-family: $text-font 
                        font-size: 18px
                        color: $text-color
                        margin-bottom: 0
                        padding-bottom: 8px
                        +media-max(640px)
                            font-size: 16px
                    // List Styles...
                    .list
                        ul 
                            text-align: left
                            +center(70%,0 auto)
                            padding-bottom: 12px
                            li 
                                list-style-type: circle
                                font-family: $text-font 
                                font-size: 16px
                                font-weight: 700
                                color: $dark-green
                                font-style: italic
                                +media-max(640px)
                                    font-size: 14px
                    .graph-link
                        h6 
                            font-weight: 300
                            color: $text-color 
                            font-style: italic
                            font-size: 16px
                            text-decoration: none
                            margin-bottom: 0
                            padding-top: 14px
                        // Graph Styles...
                        .graph 
                            padding-top: 6px 
                            .high 
                                +flex(flex,row)
                                padding: 4px 28px
                                .bracket
                                    align-self: center
                                    text-transform: uppercase
                                    font-family: $text-font
                                    color: $text-color
                                    font-size: 12px
                                    font-style: italic
                                .bars 
                                    width: 100% 
                                    padding: 0 8px
                                    align-self: center
                                    .us
                                        border: 10px solid $light-green 
                                        width: 95%
                                        margin-bottom: 0
                                        margin-top: 0
                                        margin-left: 0
                                        +media-max(500px)
                                            width: 100%
                                    .tx
                                        border: 10px solid $dark-green 
                                        width: 90%
                                        margin-left: 0
                                        margin-bottom: 0
                                        margin-top: 0
                                        +media-max(500px)
                                            width: 95%
                                .numbers
                                    +media-max(500px) 
                                        margin-left: 4px
                                    span 
                                        font-family: $text-font
                                        color: $text-color
                                        font-size: 14px
                            .med 
                                +flex(flex,row)
                                padding: 4px 28px
                                .bracket
                                    align-self: center
                                    text-transform: uppercase
                                    font-family: $text-font
                                    color: $text-color
                                    font-size: 12px
                                    font-style: italic
                                .bars 
                                    width: 100% 
                                    padding: 0 8px
                                    padding-left: 11px
                                    align-self: center
                                    .us
                                        border: 10px solid $light-green 
                                        width: 50%
                                        margin-bottom: 0
                                        margin-top: 0
                                        margin-left: 0
                                        +media-max(500px)
                                            width: 42%
                                    .tx
                                        border: 10px solid $dark-green 
                                        width: 55%
                                        margin-left: 0
                                        margin-bottom: 0
                                        margin-top: 0
                                        +media-max(500px)
                                            width: 50%
                                .numbers
                                    +media-max(500px) 
                                        margin-left: 4px
                                    span 
                                        font-family: $text-font
                                        color: $text-color
                                        font-size: 14px
                            .low 
                                +flex(flex,row)
                                padding: 4px 28px
                                .bracket
                                    align-self: center
                                    text-transform: uppercase
                                    font-family: $text-font
                                    color: $text-color
                                    font-size: 12px
                                    font-style: italic
                                .bars 
                                    width: 100% 
                                    padding: 0 8px
                                    padding-left: 11px
                                    align-self: center
                                    .us
                                        border: 10px solid $light-green 
                                        width: 25%
                                        margin-bottom: 0
                                        margin-top: 0
                                        margin-left: 0
                                        +media-max(500px) 
                                            width: 18%
                                    .tx
                                        border: 10px solid $dark-green 
                                        width: 30%
                                        margin-left: 0
                                        margin-bottom: 0
                                        margin-top: 0
                                        +media-max(500px) 
                                            width: 25%
                                .numbers
                                    +media-max(500px) 
                                        margin-left: 4px
                                    span 
                                        font-family: $text-font
                                        color: $text-color
                                        font-size: 14px
                            .region
                                +fullFlex(flex,row,center)
                                padding: 10px 0 20px
                                .dfw
                                    +flex(flex,row) 
                                    margin: 0 10px
                                    .color
                                        align-self: center
                                        width: 26px
                                        hr
                                            border: 5px solid $dark-green
                                            border-radius: 3px
                                            margin: 0 5px 3px 0
                                    p 
                                        font-size: 12px 
                                        font-family: $text-font 
                                        font-style: italic
                                        align-self: center
                                        margin-bottom: 0
                                        padding-bottom: 0
                                .usa
                                    +flex(flex,row) 
                                    margin: 0 10px
                                    .color
                                        align-self: center
                                        width: 26px
                                        hr
                                            border: 5px solid $light-green
                                            border-radius: 3px
                                            margin: 0 5px 3px 0
                                    p 
                                        font-size: 12px 
                                        font-family: $text-font 
                                        font-style: italic
                                        align-self: center
                                        margin-bottom: 0
                                        padding-bottom: 0
                    .btn 
                        align-self: flex-start
                        // background: $dark-green
                        color: $dark-green
                        // text-align: left
                        // +center(35%,0 auto)
                        // padding: 10px 0
                        margin-bottom: 18px
                        margin-left: 40px
                        font-family: $text-font 
                        font-weight: 500 
                        font-size: 14px
                        font-style: italic
                        text-transform: uppercase
                        transition: .3s
                        // border-radius: 4px
                        &:hover
                            color: $light-green
    // Location Secion...
    .location
        .grid
            +fullFlex(flex,row,center) 
            padding-bottom: 20px
            .address 
                +flex(flex,column)
                align-self: center
                +media-max(640px)
                    padding: 20px 0 0
                img 
                    width: 280px
                    margin: 0 auto
                    padding-bottom: 16px
                    +media-max(904px)
                        width: 80%
                    +media-max(640px)
                        width: 60%
                .street
                    padding-bottom: 8px
                    +center(50%, 0 auto)
                    +media-max(1070px)
                        width: 60%
                    +media-max(904px)
                        width: 80%
                        padding-bottom: 16px
                    +media-max(760px)
                        width: 85%
                        padding-bottom: 6px
                    a
                        color: $text-color
                        +flex(flex,row) 
                        +media-max(640px)
                            +center(fit-content, 0 auto)
                            padding-bottom: 6px
                            padding-top: 8px
                        .icon 
                            align-self: center
                            padding-right: 20px
                            .fa 
                                font-size: 28px  
                                color: $dark-green
                                +media-max(904px)
                                    font-size: 30px
                        .content
                            p 
                                margin-bottom: 0 
                                font-size: 18px 
                                +media-max(904px)
                                    font-size: 20px
                                +media-max(760px)
                                    font-size: 16px
                                // +media-max(640px)
                                //     font-size: 16px
                                    // ***
                                    // ***
                                    // *** 
                .number
                    +flex(flex,row)  
                    +center(50%, 0 auto)
                    +media-max(1070px)
                        width: 60%
                    +media-max(904px)
                        width: 80%
                    +media-max(760px)
                        width: 85%
                    +media-max(640px)
                        justify-content: center
                    .icon 
                        align-self: center
                        padding-right: 14px
                        .fa 
                            font-size: 28px  
                            color: $dark-green
                            +media-max(904px)
                                font-size: 30px
                    .content
                        p 
                            margin-bottom: 0  
                            color: $text-color
                            font-size: 18px 
                            +media-max(904px)
                                font-size: 20px
                            +media-max(760px)
                                font-size: 16px
                            // +media-max(640px)
                            //     font-size:                  
            .map
                +media-max(640px)
                    text-align: center
                    padding: 26px 0
                img 
                    width: 500px
                    height: 300px
                    border: 1px solid $dark-green
                    border-radius: 10px
                    +media-max(1100px)
                        width: 480px
                    +media-max(1024px)
                        width: 400px
                        height: 270px
                    +media-max(760px)
                        width: 340px
                        height: 240px
                



/* Footer Styles... */
footer
    background: green
    .grid
        padding: 28px 0 22px
        +fullFlex(flex,row,space-between)
        +center(95%, 0 auto)
        +media-max(850px)
            +fullFlex(flex,column, center)
        .policy
            align-self: flex-end
            a 
                color: white
                margin-bottom: 0
                font-family: $text-font
                font-size: 14px
                font-weight: 400
                transition: .3s
                &:hover
                    color: $dark-green
                +media-max(850px)
                    display: none
        .logo
            +media-max(850px)
                text-align: center
            img 
                width: 220px
        .copywrights
            align-self: flex-end
            +media-max(850px)
                align-self: center
                text-align: center
            a 
                color: white
                margin-bottom: 0
                font-family: $text-font
                font-size: 14px
                font-weight: 400
                transition: .3s
                display: none
                &:hover
                    color: $dark-green
                +media-max(850px)
                    display: block
                    margin-top: 19px
                +media-max(700px)
                    font-size: 12px
            p 
                color: white
                margin-bottom: 0
                font-family: $text-font
                font-size: 14px
                font-weight: 400
                +media-max(850px)
                    margin-top: 10px
                +media-max(700px)
                    font-size: 12px

