/* Import the mixins collection file... */
/* Variables... */
/* Header Styles... */
header {
  position: relative;
  background: white;
  background-color: white;
  border-bottom: 2px solid green;
}

header .grid {
  padding: 20px 0 8px;
}

@media screen and (max-width: 640px) {
  header .grid {
    padding: 10px 0  4px;
  }
}

header .grid .logo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 640px) {
  header .grid .logo-sec img {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  header .grid .logo-sec img {
    width: 180px;
  }
}

header .grid .menu-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-top: 14px;
}

@media screen and (max-width: 860px) {
  header .grid .menu-sec {
    display: none;
  }
}

header .grid .menu-sec a {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #009639;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .grid .menu-sec a:hover {
  color: #97D700;
}

header .grid .mobile-menu {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

@media screen and (max-width: 860px) {
  header .grid .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .grid .mobile-menu a {
  font-size: 32px;
  color: #009639;
  font-weight: 700;
  margin-bottom: 0;
}

header .grid .mobile-menu a .fa {
  border: 2px solid #009639;
  border-radius: 4px;
  padding: 2px 4px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .grid .mobile-menu a .fa:hover {
  border-color: #97D700;
}

header .grid .mobile-menu a:hover {
  color: #97D700;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-menu a {
    font-size: 26px;
  }
}

header .grid .mobile-links {
  width: 35%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding-top: 42px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 700px) {
  header .grid .mobile-links {
    padding-top: 37px;
  }
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links {
    width: 250px;
    padding-right: 10px;
    padding-top: 6%;
  }
}

@media screen and (max-width: 450px) {
  header .grid .mobile-links {
    width: 200px;
  }
}

header .grid .mobile-links .close-btn {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

header .grid .mobile-links .close-btn .fa {
  border: 2px solid #97D700;
  border-radius: 4px;
  padding: 2px 4px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #97D700;
}

header .grid .mobile-links .close-btn .fa:hover {
  border-color: #009639;
  color: #009639;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links .close-btn {
    font-size: 26px;
  }
}

header .grid .mobile-links .link {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #97D700;
  padding: 12px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links .link {
    font-size: 18px;
  }
}

header .grid .mobile-links .link:hover {
  color: #009639;
  border-bottom: 1px solid #009639;
}

header .grid .active {
  display: none;
}

/* Main Styles... */
main .intro .grid-container {
  padding-top: 30px;
  padding-bottom: 20px;
}

main .intro .grid-container h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #009639;
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -2px;
  font-style: italic;
  padding-bottom: 10px;
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
  main .intro .grid-container h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 640px) {
  main .intro .grid-container h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 500px) {
  main .intro .grid-container h1 {
    font-size: 32px;
  }
}

main .content .grid {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 860px) {
  main .content .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
}

@media screen and (max-width: 640px) {
  main .content .grid {
    padding-bottom: 40px;
  }
}

main .content .grid .card {
  border-color: #009639;
  -webkit-box-shadow: 0 8px 6px -6px #373d3f;
  box-shadow: 0 8px 6px -6px #373d3f;
}

@media screen and (max-width: 860px) {
  main .content .grid .card {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 768px) {
  main .content .grid .card {
    width: 85%;
  }
}

@media screen and (max-width: 640px) {
  main .content .grid .card {
    width: 90%;
  }
}

main .content .grid .card .title {
  background: #009639;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  padding: 14px 0;
}

main .content .grid .card .title h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 26px;
}

@media screen and (max-width: 360px) {
  main .content .grid .card .title h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  main .content .grid .card .title h3 {
    font-size: 22px;
  }
}

main .content .grid .card .box {
  text-align: center;
  padding: 30px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .content .grid .card .box img {
  width: 85%;
  margin: 0 auto;
  height: 240px;
  padding-bottom: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 640px) {
  main .content .grid .card .box img {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  main .content .grid .card .box img {
    width: 100%;
  }
}

main .content .grid .card .box .question-box {
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  main .content .grid .card .box .question-box {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  main .content .grid .card .box .question-box {
    width: 100%;
  }
}

main .content .grid .card .box .question-box h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #009639;
  font-weight: 600;
  -webkit-text-decoration: underline #009639;
          text-decoration: underline #009639;
  text-align: left;
}

@media screen and (max-width: 360px) {
  main .content .grid .card .box .question-box h6 {
    font-size: 18px;
  }
}

main .content .grid .card .box .question-box p {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #373d3f;
  margin-bottom: 0;
  padding-bottom: 8px;
}

main .content .grid .card .box .question-box p strong {
  color: #009639;
}

@media screen and (max-width: 640px) {
  main .content .grid .card .box .question-box p {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  main .content .grid .prespective-students {
    margin-bottom: 0;
  }
}

/* Footer Styles... */
footer {
  background: black;
}

footer .grid {
  padding: 16px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  footer .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .grid .policy {
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 850px) {
  footer .grid .policy {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 8px;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  footer .grid .policy {
    width: 70%;
  }
}

footer .grid .policy a {
  margin-bottom: 0;
}

@media screen and (max-width: 850px) {
  footer .grid .policy a img {
    width: 100%;
  }
}

footer .grid .logo {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 850px) {
  footer .grid .logo {
    text-align: center;
    width: 100%;
    padding: 6px 0;
  }
}

footer .grid .logo img {
  width: 180px;
}

@media screen and (max-width: 850px) {
  footer .grid .logo img {
    width: 160px;
  }
}

footer .grid .copywrights {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding: 0;
  }
}

footer .grid .copywrights a {
  color: white;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .grid .copywrights a:hover {
  color: #009639;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights a {
    display: block;
    margin-top: 14px;
  }
}

@media screen and (max-width: 700px) {
  footer .grid .copywrights a {
    font-size: 12px;
  }
}

footer .grid .copywrights p {
  color: white;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  footer .grid .copywrights p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=faq.css.map */