/* Import the mixins collection file... */
/* Variables... */
/* Header Styles... */
header {
  position: relative;
  background: white;
  background-color: white;
  border-bottom: 2px solid green;
}

header .grid {
  padding: 20px 0 16px;
}

@media screen and (max-width: 640px) {
  header .grid {
    padding: 6% 0  2.5%;
  }
}

header .grid .logo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .grid .logo-sec img {
  width: 380px;
}

@media screen and (max-width: 640px) {
  header .grid .logo-sec img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  header .grid .logo-sec img {
    width: 220px;
  }
}

header .grid .menu-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
}

@media screen and (max-width: 860px) {
  header .grid .menu-sec {
    display: none;
  }
}

header .grid .menu-sec a {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #009639;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .grid .menu-sec a:hover {
  color: #97D700;
}

header .grid .mobile-menu {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 860px) {
  header .grid .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .grid .mobile-menu a {
  font-size: 32px;
  color: #009639;
  font-weight: 700;
  margin-bottom: 0;
}

header .grid .mobile-menu a .fa {
  border: 2px solid #009639;
  border-radius: 4px;
  padding: 2px 4px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .grid .mobile-menu a .fa:hover {
  border-color: #97D700;
}

header .grid .mobile-menu a:hover {
  color: #97D700;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-menu a {
    font-size: 26px;
  }
}

header .grid .mobile-links {
  width: 35%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding-top: 42px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 700px) {
  header .grid .mobile-links {
    padding-top: 37px;
  }
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links {
    width: 250px;
    padding-right: 10px;
    padding-top: 6%;
  }
}

@media screen and (max-width: 450px) {
  header .grid .mobile-links {
    width: 200px;
  }
}

header .grid .mobile-links .close-btn {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

header .grid .mobile-links .close-btn .fa {
  border: 2px solid #97D700;
  border-radius: 4px;
  padding: 2px 4px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #97D700;
}

header .grid .mobile-links .close-btn .fa:hover {
  border-color: #009639;
  color: #009639;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links .close-btn {
    font-size: 26px;
  }
}

header .grid .mobile-links .link {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #97D700;
  padding: 12px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 640px) {
  header .grid .mobile-links .link {
    font-size: 18px;
  }
}

header .grid .mobile-links .link:hover {
  color: #009639;
  border-bottom: 1px solid #009639;
}

header .grid .active {
  display: none;
}

/* Main Styles... */
main .top .grid {
  padding: 40px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 640px) {
  main .top .grid {
    padding: 40px 6% 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

main .top .grid .promise {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 30px;
}

@media screen and (max-width: 930px) {
  main .top .grid .promise {
    padding: 0 15px;
  }
}

@media screen and (max-width: 780px) {
  main .top .grid .promise {
    padding: 0;
  }
}

main .top .grid .promise h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-style: italic;
  font-weight: 600;
  color: #009639;
  margin-bottom: 0;
  padding-bottom: 8px;
}

@media screen and (max-width: 860px) {
  main .top .grid .promise h3 {
    font-size: 38px;
  }
}

@media screen and (max-width: 780px) {
  main .top .grid .promise h3 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  main .top .grid .promise h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 640px) {
  main .top .grid .promise h3 {
    padding-bottom: 8px;
    font-size: 38px;
  }
}

@media screen and (max-width: 460px) {
  main .top .grid .promise h3 {
    font-size: 28px;
  }
}

main .top .grid .promise p {
  color: #373d3f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 36px;
  margin-bottom: 0;
}

@media screen and (max-width: 860px) {
  main .top .grid .promise p {
    font-size: 18px;
  }
}

@media screen and (max-width: 780px) {
  main .top .grid .promise p {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 720px) {
  main .top .grid .promise p {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  main .top .grid .promise p {
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 640px) {
  main .top .grid .promise .enroll {
    text-align: center;
  }
}

main .top .grid .promise .enroll a {
  background: #009639;
  color: white;
  padding: 16px 42px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

main .top .grid .promise .enroll a:hover {
  color: #97D700;
}

@media screen and (max-width: 860px) {
  main .top .grid .promise .enroll a {
    padding: 10px 38px;
  }
}

@media screen and (max-width: 720px) {
  main .top .grid .promise .enroll a {
    padding: 10px 28px;
  }
}

@media screen and (max-width: 640px) {
  main .top .grid .promise .enroll a {
    padding: 16px 38px;
  }
}

main .top .grid .promise-img {
  text-align: right;
}

@media screen and (max-width: 720px) {
  main .top .grid .promise-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (max-width: 640px) {
  main .top .grid .promise-img {
    padding-bottom: 26px;
  }
}

main .top .grid .promise-img img {
  width: 500px;
  border-radius: 4px;
}

@media screen and (max-width: 640px) {
  main .top .grid .promise-img img {
    width: 100%;
    margin: 0 auto;
  }
}

main .slogan {
  background: #009639;
}

main .slogan .grid {
  width: 70%;
  margin: 0 auto;
  padding: 4% 0;
}

@media screen and (max-width: 900px) {
  main .slogan .grid {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  main .slogan .grid {
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  main .slogan .grid {
    width: 95%;
    padding: 8% 0;
  }
}

main .slogan .grid p {
  color: white;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 28px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 950px) {
  main .slogan .grid p {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  main .slogan .grid p {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  main .slogan .grid p {
    font-size: 18px;
  }
}

main .slogan .grid #hr {
  border: 1px solid white;
  width: 40%;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  main .slogan .grid #hr {
    width: 30%;
  }
}

@media screen and (max-width: 330px) {
  main .slogan .grid #hr {
    margin-top: 10px;
    width: 20%;
  }
}

main .bottom .grid {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .bottom .grid .col .card {
  border-color: #009639;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 6px -6px #373d3f;
  box-shadow: 0 8px 6px -6px #373d3f;
}

main .bottom .grid .col .card .title {
  background: #009639;
  color: white;
  text-align: center;
  padding: 14px 0;
}

main .bottom .grid .col .card .title h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 22px;
}

main .bottom .grid .col .card .info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .bottom .grid .col .card .info img {
  width: 85%;
  margin: 0 auto;
  height: 200px;
  padding-bottom: 26px;
}

main .bottom .grid .col .card .info h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #009639;
  font-weight: 600;
  -webkit-text-decoration: underline #009639;
          text-decoration: underline #009639;
}

main .bottom .grid .col .card .info p {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #373d3f;
  margin-bottom: 0;
  padding-bottom: 8px;
}

main .bottom .grid .col .card .info .list ul {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 12px;
}

main .bottom .grid .col .card .info .list ul li {
  list-style-type: circle;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #009639;
  font-style: italic;
}

main .bottom .grid .col .card .info .graph-link h6 {
  font-weight: 300;
  color: #373d3f;
  font-style: italic;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 0;
  padding-top: 14px;
}

main .bottom .grid .col .card .info .graph-link .graph {
  padding-top: 6px;
}

main .bottom .grid .col .card .info .graph-link .graph .high {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4px 28px;
}

main .bottom .grid .col .card .info .graph-link .graph .high .bracket {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 12px;
  font-style: italic;
}

main .bottom .grid .col .card .info .graph-link .graph .high .bars {
  width: 100%;
  padding: 0 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .bottom .grid .col .card .info .graph-link .graph .high .bars .us {
  border: 10px solid #97D700;
  width: 95%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .high .bars .tx {
  border: 10px solid #009639;
  width: 90%;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .high .numbers span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 14px;
}

main .bottom .grid .col .card .info .graph-link .graph .med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4px 28px;
}

main .bottom .grid .col .card .info .graph-link .graph .med .bracket {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 12px;
  font-style: italic;
}

main .bottom .grid .col .card .info .graph-link .graph .med .bars {
  width: 100%;
  padding: 0 8px;
  padding-left: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .bottom .grid .col .card .info .graph-link .graph .med .bars .us {
  border: 10px solid #97D700;
  width: 50%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .med .bars .tx {
  border: 10px solid #009639;
  width: 55%;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .med .numbers span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 14px;
}

main .bottom .grid .col .card .info .graph-link .graph .low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4px 28px;
}

main .bottom .grid .col .card .info .graph-link .graph .low .bracket {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 12px;
  font-style: italic;
}

main .bottom .grid .col .card .info .graph-link .graph .low .bars {
  width: 100%;
  padding: 0 8px;
  padding-left: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .bottom .grid .col .card .info .graph-link .graph .low .bars .us {
  border: 10px solid #97D700;
  width: 25%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .low .bars .tx {
  border: 10px solid #009639;
  width: 30%;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .low .numbers span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #373d3f;
  font-size: 14px;
}

main .bottom .grid .col .card .info .graph-link .graph .region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 20px;
}

main .bottom .grid .col .card .info .graph-link .graph .region .dfw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 10px;
}

main .bottom .grid .col .card .info .graph-link .graph .region .dfw .color {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 26px;
}

main .bottom .grid .col .card .info .graph-link .graph .region .dfw .color hr {
  border: 5px solid #009639;
  border-radius: 3px;
  margin: 0 5px 3px 0;
}

main .bottom .grid .col .card .info .graph-link .graph .region .dfw p {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

main .bottom .grid .col .card .info .graph-link .graph .region .usa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 10px;
}

main .bottom .grid .col .card .info .graph-link .graph .region .usa .color {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 26px;
}

main .bottom .grid .col .card .info .graph-link .graph .region .usa .color hr {
  border: 5px solid #97D700;
  border-radius: 3px;
  margin: 0 5px 3px 0;
}

main .bottom .grid .col .card .info .graph-link .graph .region .usa p {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

main .bottom .grid .col .card .info .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #009639;
  color: white;
  width: 35%;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

main .bottom .grid .col .card .info .btn:hover {
  color: #97D700;
}

main .bottom .grid .col .card .info .bhc-btn {
  margin-top: 2px;
}

main .location .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .location .grid .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

main .location .grid .address .street {
  padding-bottom: 20px;
}

main .location .grid .address .street a {
  color: #009639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .location .grid .address .street a .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .location .grid .address .street a .icon .fa {
  font-size: 56px;
}

main .location .grid .address .street a .content p {
  margin-bottom: 0;
  font-size: 28px;
}

main .location .grid .address .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .location .grid .address .number .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .location .grid .address .number .icon .fa {
  font-size: 56px;
  color: #009639;
}

main .location .grid .address .number .content p {
  margin-bottom: 0;
  color: #009639;
  font-size: 28px;
}

/* Footer Styles... */
footer {
  background: green;
}

footer .grid {
  padding: 28px 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  footer .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .grid .policy {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .grid .policy a {
  color: white;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .grid .policy a:hover {
  color: #009639;
}

@media screen and (max-width: 850px) {
  footer .grid .policy a {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  footer .grid .logo {
    text-align: center;
  }
}

footer .grid .logo img {
  width: 220px;
}

footer .grid .copywrights {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

footer .grid .copywrights a {
  color: white;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  display: none;
}

footer .grid .copywrights a:hover {
  color: #009639;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights a {
    display: block;
    margin-top: 19px;
  }
}

@media screen and (max-width: 700px) {
  footer .grid .copywrights a {
    font-size: 12px;
  }
}

footer .grid .copywrights p {
  color: white;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  footer .grid .copywrights p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  footer .grid .copywrights p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */